body{
    background-image:url('background.png');
}

.container {
    background-color: none; /* Warna latar belakang form, asumsi putih */
    padding: 40px; /* Padding di dalam container form */
    border-radius: 15px; /* Sudut membulat */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
    max-width: 500px; /* Lebar maksimum form */
    width: 100%; /* Agar responsif terhadap lebar layar */
    text-align: left; /* Teks rata kiri di dalam form */

    /* Ini kunci untuk scroll: */
    height: auto;
    max-height: 100%; /* Batasi tinggi container agar tidak melebihi viewport (dikurangi padding body) */
    overflow-y: auto; /* Aktifkan scroll vertikal jika konten melebihi max-height */
    -ms-overflow-style: none;  /* Hides scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hides scrollbar for Firefox */
}

h1 {
    font-size: 2.5rem;
    color: #5f3c1c;
    margin-bottom: 40px;
}

label {
    display: block;
    margin-top: 20px;
    margin-bottom: 6px;
    font-size: 0.9rem;
    color: #5f3c1c;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid #a97b4c;
    background: transparent;
    font-size: 1rem;
}

.gender-buttons {
    display: flex;
    gap: 12px;
    margin-top: 5px;
}

.gender-buttons button {
    padding: 8px 18px;
    background-color: #cc925d;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
}

.form p{
    font-size: 0.2rem;
    color: grey;
}

.gender-buttons button:hover {
    background-color: #d98d46 ;
    transition: 0.3s;
}

.register-btn {
    width: 100%;
    margin-top: 40px;
    padding: 12px;
    background-color: #d89b27;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #785410;
}

.signup-link {
    width: 500px;
  margin-top: 10px;
  font-size: 1.1rem;
  color: #5f3c1c;
  /* margin-left: 100px; */
}

.signup-link a {
  color: #5f3c1c;
  text-decoration: underline;
}

.signup-link a:hover {
  color: #00aeff;
  text-decoration: underline;
}

.back {
    margin-top: 6px;
    /* margin-left: 220px; */
    margin-bottom: 10px;
    width: 200px;
}

.back a {
  color: #5f3c1c;
  text-decoration: underline;
  font-size: 1.5rem;
}

.back a:hover {
    color: #00aeff;
    transition: 0.3ms;
}
